body {
    font-size: 16px;
    color: black;
    background-color: white;
}

#header-nav {
    background-color: #8d8d8d;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 50px;
}

.navbar-brand h1 {
    /* Restaurant name */
    color: black;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-toggle {
    margin: 20px 15px;
}

#nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav-list a {
    color: black;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

h1.text-center {
    margin-bottom: 35px;
}

div.text-center {
    font-size: 1.8em;
    margin-top: 25px;
    margin-bottom: 15px;
}

#mainText {
    background-color: #8d8d8d;
}